*{
  font-family: verdana,sans-serif;

}

.head
  {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 9%;
      margin-right: 9%;
  }


.social_media
{
   display: flex;  
   align-items: center;  
   justify-content: space-between;
    
}

.first_page
{
    margin:0% 10% 5% 10% ;
    /*background-color: #000; */
    background-image: url ("../images/background.png");
}


#facebook 
{
    flex: 1;
    margin-right: 25px;
}

#menu
{
    flex: 3;
    margin-right: 0px;
    
}

#twitter
{ 
    flex: 1;
     margin-right: 25px;
}
#instagram
{
     flex: 1;
     margin-right: 35px;
}




@media (min-width:900px)
{
    .banner
{
    display: flex;
    margin-left: 9%;
    margin-right: 9%;
}
  
}


#b_header
{
    margin-top: 25%;
    font-size: 1.6em;
    letter-spacing: 0.1em;
}

.b_explaination
{
    flex: 1;
}
#b_paragraph
{
   color: #696969;
   font-size: 1em;   
   letter-spacing: 0.1em;    
}

#image1
{
    flex: 1;
    margin-right: 30px;
}


.btn  {
  border: none;
  background-color:  rgba(65, 218, 167, 0.897);
  border-radius: 0.8em;
  color: white;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1;
  padding: 1.2em 1.2em;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-top: 3%; 
  letter-spacing: 0.1em;
  padding-top: 0.95em;
    padding-bottom: 0.95em;
    margin-top: 0.7em;
    min-width: 200px;
}






/*second page*/


.second_page
{
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    flex-direction: column;
    justify-content: center;
    

}

h1, h3
{
    text-transform: uppercase;
}
h1
{
    margin-bottom: 1px;
}

.h_paragraph
{
    margin-top: 1px;
    color: #696969;
}
.features_header
{
    text-align: center;
    /*margin: 0% 5% 0% 5%;*/
}

#f_head_1
{
    font-weight: lighter;
}



@media (min-width:900px)
{
  .features_view
  {
    justify-content: center;
    display: flex;
    align-items: center;

  }
}

.f_options_1
{
    flex: 1;
    text-align: center;

}

.f_image
{
    flex: 2;
    text-align: center
}

.f_options_2
{
    flex: 1;
    text-align: center;
}

.feature
{
  display: flex;  
  flex-direction: column;
  justify-content: center;  

}

h3
{
  font-size: 14px;
  margin-bottom: 5px; 
  color: #585858;

}
h2{
    font-size: 24px;
    margin-bottom: 4px;
    color:#000;
}

.f_paragraph
{
    font-size: 0.85em;
    line-height: 18px;
    margin-top: 5px;
    color: #696969;
}

/*third page */
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    padding-top: 20px;
  }
  
  .header{
      flex: 1;
  flex-direction: column;
    font-size:  15px;
    display: flex;
  text-align: center;
    
  
  
  }
  .imgOne{
  display: flex;
  align-content: center;
  width:1000px;
   height: 900px;
   flex: 1;
    position: relative;
  }
  
  
  
  
  /*end third page */

/* start contacts page*/
.firstLetter{
    font-size: 30px;
    color:rgba(0, 0, 0, 0.89);
    
}

.lighterFont{
    font-weight: lighter;
    color:#000;
}

.p1{
    justify-content: center;
}
.contacts{
    border-top-style:  dashed;
    border-bottom-style: solid;
    border-bottom-color: aquamarine;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 0%;
    align-items: stretch;
    flex-direction: row;
    width: 100%;
    flex: 1 100%;
    align-content: stretch;
}

.imgContact{
    
    display: flex;
    
    flex-direction: row;
    background-color:  #A3E4D7  ;
    flex-wrap: nowrap;
       align-content: center;
    
    
}

.PhoneImg{
    border: #000;

    margin-left: 40px;
}
.text{
    
    flex-direction: column;
  display: flex;
  margin-left: 0%;
  margin-right: 150px;
   justify-content: center;
  
}

.contents{
    width: 50%;
    display: flex;
    background-color: #000;
    color:#fff;
    align-items: center;
    flex-direction: column;
    padding-bottom: 30px;
    padding-bottom: 40px;
    
   
}
.btnTry{
    border: none;
  background-color: #000;
  border-radius: 0.8em;
  color: white;
  font-size: 0.9rem;
  font-weight: 400px;
  line-height: 1;
  padding: 1.2em 1.2em ;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-top: 0.1%; 
  letter-spacing: 0.1em;
  width: 155px;
  height: 39px;
  display: inline-block;

}

.input{
    margin-top: 0.7em;
    background: none;
    border-radius: 0.8em;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1;
    padding: 1.2em 1.2em;
    text-align:start;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    width: 300px;
}

/*end contact page*/

/*start footer page */
.footer{
display: flex;
flex-direction: row;
flex-wrap: wrap;
 background: #000;
 color: aliceblue;
padding-top: 0%;
justify-content: space-around;
width: 100%;
flex: 1 100%;
align-content: stretch;
padding-top: 40px;
}

.icon{
    fill:white;
    
}


